div.catalog-outer-container {
  height: 90px;
  width: 564px;
  display: table;
  overflow: hidden;
}

div.catalog-inner-container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}

div.catalog-outer-container > div.catalog-inner-container > span {
  font-size: 16pt;
  color: #F8BD9F
}