<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Ваш заказ.</title>
</head>
<body>

<p>Здравствуйте $user_name!</p>
<p>
    Благодарим Вас за обращение к интернет-магазину «Sois belle».
    <br/>
    Ваш номер заказа №$order_number в течение 20 минут с Вами свяжется наш консультант (оператор)
    <br/>
    для предоставления информации по продукции и Вашему заказу.
    <br/>
    Для перехода в интернет магазин, щелкните пожалуйста <a href="http://localhost:8080/soisbelle/shop">здесь</a>.
</p>
<p>
    С уважением,
    <br/>
    Коллектив интернет - магазина «Sois belle»
</p>
</body>
</html>