body {
  /*background: url("../images/dsn/fon1.png") repeat;*/
  background: url("../images/dsn/fon/44-3.jpg") repeat;
  font-family: Century Gothic,serif;
 /* background: url("../images/blue_bg.jpg") repeat;*/
}

.center {
  /*background: url("../images/dsn/fon/fon.png") no-repeat;*/
  margin: 0 auto;
  width: 961px;
}

#menu {
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  width: 961px;
  height: 51px;
}

#header {
  position: relative;
  text-align: center;
  width: 961px;
}

#wrap_content {
  width: 961px;
  margin: 0 auto;
}

.recommended {
  width: 100%;
  margin-bottom: 10px;
  background: #FFFFFF;
/*  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px; */
}

.info {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #FFFFFF;
  font-family: Century Gothic,serif;
  font-size: large;
  text-align:center;
  padding: 10px;
/*  opacity: 0.7; *//* Полупрозрачный фон *//*
  filter: alpha(Opacity=70); *//* Прозрачность в IE */
/*  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;*/
}

.rounded {
  width: 100%;
  background: #FFFFFF;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #346F97;
}

.scrollUp, .scrollDown {
  opacity: 0.4;
  filter: alpha(opacity = 40);
  display: none;
  position: fixed;
  left: 90px;
  height: 80px;
  width: 40px;
  background: #d3d3d3;
  cursor: pointer;
  border-radius: 5px;
}

.scrollUp:hover, .scrollDown:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}

.scrollUp > img, .scrollDown > img {
  margin-top: 35px;
}

.scrollUp {
  top: 100px;
}

.scrollDown {
  top: 150px;
}

.imageBoxSmall {
  height: 100px;
  background: #ffffff;
  border: 1px solid #643845;
  display:table-cell;
  vertical-align:middle;
  text-align:center
}

.imageBox {
  height: 160px;
  background: #ffffff;
  border: 1px solid #643845;
  display:table-cell;
  vertical-align:middle;
  text-align:center
}

.imageBoxAdmin {
  height: 320px;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #346F97;
  display:table-cell;
  vertical-align:middle;
  text-align:center
}

.imageBoxLarge {
  height: 320px;
  background: #ffffff;
  border: none;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}

a.navigationLink {
  font-size: 16pt;
  color:#F8BD9F;
  text-decoration: none;
}

a.navigationLink:hover {
  text-decoration: underline;
  color: #F8BD9F;
}

span.navigationSlash {
  font-size: 16pt;
  color:#F8BD9F;
}

.productBox {
  width: 200px;
  height: 320px;
  background: #ffffff;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display:table-cell;
  vertical-align:top;
}

.productImageCatalog {
  width: 200px;
  vertical-align:middle;
  display:table-cell;
  height: 160px;
  text-align:center;
  background-color: #ffffff;
}

.productImage {
  margin-top: 5px;
}

.cabinetButton {
  background: #FFAAAA;
  font-size: 14pt;
  font-family: Arial;
}

.recommended-header {
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #8A98A9;
  background-color: #F8BD9F;
}

.categoryList {
  width: 875px;
  margin-left: 25px;
}

.categoryList > ul > li {
  height: 350px;
  width: 200px;
  float: left;
  margin: 0px 15px 15px 0px;
  list-style-type: none;
  position: relative;
}

.categoryList > ul{
  text-align: center;
  margin: 0;
  padding: 0;
}

.categoryList > ul > li > div:hover {
  box-shadow: 1px 3px 7px #cd0a0a;
}

.categoryList > ul > li img {
  border: 3px solid #DDDDDD;
}

/* Формы */
span.validation-error {
  color: #ff0000;
  font-size: 9pt;
  margin: 1px;
}

input.form-textbox {
  font-size: 12pt;
  background-color: #fff3f3;
}

input.form-textbox:hover {
  background-color: #ffffff;
}

textarea.form-textbox {
  font-size: 12pt;
  background-color: #fff3f3;
}

textarea.form-textbox:hover {
  background-color: #ffffff;
}

span.required-field {
  font-size: 12pt;
  color: #ff0000;
}

span.form-label {
  font-size: 12pt;
}

img.form-capcha {
  border: 1px solid #ff9600;
}

/* Корзина */
div.cart {
  width: 150px;
  height: 33px;
  text-align: justify;
  background: none;
  border: 1px solid #F8BD9F;
  position: relative;
}

div.cart > div.cart-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
}

div.cart > div.cart-counters {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100px;
  font-size: 8pt;
  font-family: Century Gothic,serif;
  color: #F8BD9F;
}

/* Часто исользуемый шрифт */
span.freq-font {
  font-family: Century Gothic,serif;
  color: #F8BD9F;
}

/* Окна */
div.soisbelle-wnd {
  border: 1px solid #ddd;
  background-color: #eee;
  box-shadow: 2px 2px 4px -1px rgba(0,0,0, .55);
}

span.product-price {
  font-size: 16pt;
  color:#f8bd9f;
}

/* Личный кабинет */

a.cabinetLink {
  font-size: 16pt;
  color: #6E3B4E;
  text-decoration: none;
}

a.cabinetLink:hover {
  text-decoration: underline;
  color: #F8BD9F;
}

.cabinet-left-column {
  width: 100%;
  background: #FFFFFF;
  font-family: Century Gothic,serif;
  font-size: large;
  text-align:center;
  padding: 10px;
}

