#zk_showBusy {
  display: none !important;
}

.z-loading-indicator {
  display: none !important;
}

.z-loading {
  display: none !important;
}

/* Убираем progress... диалог */
.z-temp, .z-modal-mask
{
  display : none !important;
  visibility : hidden !important;
}

.z-apply-mask {
  display: none !important;
}

.z-apply-loading-indicator, .z-apply-loading {
  display: none !important;
}

div.process-window {
  background: none;
}

div.process-window .z-window-content {
  background: none;
}

/*div.z-tree-body {
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

div.z-tree {
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

td.z-treecell:first-child {
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px 10px;
  border-radius: 10px 10px;
}

span.z-tree-ico z-tree-tee-close {
  background-image: url(../images/close_tree.png)
}

span.z-tree-ico z-tree-tee-open {
  background-image: url(../images/open_tree.png);
}*/

/*div.z-listbox {
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #346F97;
}*/

/*
span.z-dottree-tee-close {
  background-image: url("../images/about.png")
}

span.z-dottree-tee-open {
  background-image: url("../images/about.png");
}*/

span.z-dottree-tee-close {
  background-image: url("../images/tree/tee-close.png")
}

span.z-dottree-tee-open {
  background-image: url("../images/tree/tee-open.png");
}

span.z-dottree-root-open, span.z-dottree-root-close {
  background-image: url("../images/tree/dot-toggle.png");
}

span.z-dottree-last-open {
  background-image: url("../images/tree/tee-last-open.png");
}

span.z-dottree-last-close {
  background-image: url("../images/tree/tee-last-close.png");
}

span.z-dottree-tee, span.z-dottree-last, span.z-dottree-vbar {
  background-image: none;
}

div.z-tabbox-accordion .z-tabpanel-accordion {
  padding: 0;
}

span.z-upload input {
  float: left;
}

/* Кастомизированный grid */
th.z-column {
  background: none repeat scroll 0 0 #f8bd9f;
  border-left: 0px solid #000000;
}

div.z-column-content {
  color: #000000;
  font-style: normal;
  font-family: Century Gothic,serif;
}

tr.z-row:hover > .z-cell {
  background: none repeat scroll 0 0 #f8bd9f;
}

/* Кастомизация комбобокса */
a.z-combobox-button:hover {
  background: none repeat scroll 0 0 #f8bd9f;
  border: 1px solid #6F3D49;
}

li.z-comboitem:hover {
  background: none repeat scroll 0 0 #f8bd9f;
}

/* Кастомизация спиннера */
a.z-spinner-up:hover {
  background: none repeat scroll 0 0 #6F3D49;
}

a.z-spinner-down:hover {
  background: none repeat scroll 0 0 #6F3D49;
}

/*div.z-grid {
  border: none;
  background-image: none;
}

div.z-grid-header tr.z-columns, div.z-grid-header tr.z-auxhead {
  background-color: #f2f2f2;
  background-image: none;
}

div.z-grid-header th.z-column, div.z-grid-header th.z-auxheader {
  border: 1px solid #e2e2e2;
  border-left: none;
}

tr.z-row td.z-row-inner, tr.z-row .z-cell {
  border-right: 1px solid #efefef;
}

div.z-grid-header tr.z-columns th:first-child, div.z-grid-header tr.z-auxhead th:first-child {
  border-left: 1px solid #e2e2e2;
}

div.z-grid-header tr.z-columns th:last-child, div.z-grid-header tr.z-auxhead th:last-child {
  border-right: 1px solid #e2e2e2;
}

tr.z-row-over > td.z-row-inner, tr.z-row-over > .z-cell {
  background-image: none;
  border: 1px solid transparent;
  border-right: 1px solid #efefef;
}*/


th.z-listheader {
  background: none repeat scroll 0 0 #f8bd9f;

}

th.z-listheader > .z-listheader-content {
  color: #693947;
}

th.z-listhead-bar {
  background: none repeat scroll 0 0 #f8bd9f;
  border-left: 0;
}

tr.z-listitem:hover > .z-listcell {
  background: none repeat scroll 0 0 #f8bd9f;
}

/* Фон маленькой стрелочки при наведении */
.z-scrollbar-up:hover, .z-scrollbar-down:hover {
  background: none repeat scroll 0 0 #f8bd9f;
}

/* Горизонтальная полоска */
div.z-scrollbar-indicator, div.z-scrollbar-vertical  {
  background: none repeat scroll 0 0 #693947 !important;
}

/* Маленькая стрелочка вверх */
div.z-scrollbar-up {
  color: #693947 !important;
}

/* Маленькая стрелочка вниз */
div.z-scrollbar-down {
  color: #693947 !important;
}

/* Цвет галочки шапки грида */
i.z-listheader-icon {
  color: #693947 !important;
}

/* Цвет галочки в гриде */
i.z-listitem-icon {
  color: #693947 !important;
}

div.catalog-listcell-cnt {
  background: none;
  padding-bottom: 10px;
}

td.z-comboitem-text {
  text-align: left;
}

div.category{
  width: 100%;
  height: 350px;
  background: #FFFFFF;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #346F97;
}

.z-button .z-button-tl {
  font-size: 0;
}

/*Самописное меню*/

div.zMenu {
  width: 100%;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}

div.zMenu > ul {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

div.zMenu > li {
  float: left;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

div.zMenu > ul > li {
  float: left;
  list-style-type: none;
  position: relative;
}

div.zMenu > ul > li > div {
  margin: 0 10px 0 0;
  background: #F8BD9F;
  border: 1px solid #000000;
  line-height: 30px;
  text-align: center;
}

div.zMenu > ul > li > div > a {
  vertical-align: middle;
  text-decoration: none;
  color: #000000;
  font-family: Century Gothic,serif;font-size: 12pt;
}

/* элемент  */

div.menu-element {
  /*width: 125px;*/
  height: 34px;
  display: table;
  text-align: center;
  background: #F8BD9F;
  border: 1px solid #000000;
}

/*div.menu-element:before {
  content:" ";
  display:inline-block;
  height:100%;
  vertical-align:middle;
}*/

div.menu-element div {
  display: table-cell;
  vertical-align: middle;
}

div.menu-element div a {
  vertical-align:middle;
  text-decoration: none;
  color: #000000;
  font-family: Century Gothic,serif;font-size: 12pt;
/*  display:inline-block;
  vertical-align:middle;
  text-decoration: none;
  color: #000000;
  font-family: Century Gothic,serif;font-size: 13pt*/
}

.search {
  /*background: url("../images/dsn/header/search_.png") no-repeat;*/
  height: 50px;
  /*width: 399px;*/
}

.recommended-showcase {
  background: url("../images/dsn/fon/rec_bg.jpg") repeat;
}

.z-label {
  font-family: Century Gothic,serif;
}

.search {
  border: medium none !important;
  color: #9B9B9B;
  font-size: 12px;
  height: 25px;
  width: 100%;
}

/* Кнопки */
button.soisbelle-button {
  background: none repeat scroll 0 0 #f8bd9f;
  border: 1px solid #000000;
  line-height: 20px;
  text-align: center;
  /*border-radius: 0px;*/
  font-family: Century Gothic,serif;
}

button.soisbelle-square-button {
  background: none repeat scroll 0 0 #f8bd9f;
  border: 1px solid #000000;
  line-height: 20px;
  text-align: center;
  border-radius: 0px;
  font-family: Century Gothic,serif;
}

/* Кастомизация groubox */
div.z-groupbox-content {
  border-color: #F8BD9F;
}

/* Табы */

.z-tab-selected {
  background: none repeat scroll 0 0 #fff!important;
}

.z-tab-selected > a > span.z-tab-text {
  color: #774551;
}

.z-tab-selected > a {
  text-decoration: none;
}

.z-tab > a {
  text-decoration: none;
}

.z-tab {
  background: none repeat scroll 0 0 #774551;
}

.z-tab:hover {
  background: none repeat scroll 0 0 #F8BD9F;
}

